@model List<ItemResponse>

<div class="container-fluid p-0">

    <h1 class="h3 mb-3">Items List</h1>

    <div class="row">
        <div class="col-12">
            <div id="grid-table"></div>
        </div>
    </div>

</div>

<!-- Grid.js -->
<script type="module">
    import {
        Grid,
        html,
        h
    } from "https://unpkg.com/gridjs?module";

    const grid = new Grid({
        columns: [{ name: 'ID', hidden: true }, 'Name', 'Description', 'Created', 'Updated', {
            name: 'Actions',
            formatter: (cell, row) => {
                return [
                    h('button', {
                        className: 'btn btn-secondary m-1',
                        onClick: () =>{ 
                            $.ajax({
                                url: '@Url.Action("EditItem", "Home")',
                                type: 'post',
                                data: { id: row.cells[0].data }
                            }).done(function () {
                                alert('Added');
                            });
                            alert(`Editing ${row.cells[0].data}`)
                        }
                    }, 'Edit'),

                    h('button', {
                        className: 'btn btn-danger m-1',
                        onClick: () => alert(`Deleting ${row.cells[0].data}`)
                    }, 'Delete')]
            }
        }],
        data: [
    @foreach (ItemResponse item in Model)
    {
        <text>
                ['@item.Id', '@item.Name', '@item.Description', '@item.CreatedDate', '@item.UpdatedDate'],
        </text>
    }
            ],
        resizable: true,
        sort: true
    }).render(document.getElementById("grid-table"));
</script>